#### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import sportsdataverse as sdv

#### NHL Player Boxscore Data:

#### NHL All-Star Data:

In [2]:
allstars = pd.read_excel('allstars.xlsx')
allstars.head()

   season  player_id                            player
0    2018    8478444   Brock Boeser, Vancouver Canucks
1    2018    8476346   Johnny Gaudreau, Calgary Flames
2    2018    8471685   Anze Kopitar, Los Angeles Kings
3    2018    8478402   Connor McDavid, Edmonton Oilers
4    2018    8471707  James Neal, Vegas Golden Knights

In [3]:
allstars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   season     147 non-null    int64
 1   player_id  147 non-null    int64
 2   player     147 non-null    object
dtypes: int64(2), object(1)
memory usage: 3.6+ KB

In [4]:
allstars.describe()

            season     player_id
count   147.000000  1.470000e+02
mean   2019.761905  8.475926e+06
std       1.482008  2.807795e+03
min    2018.000000  8.470595e+06
25%    2019.000000  8.474564e+06
50%    2020.000000  8.476346e+06
75%    2021.000000  8.478402e+06
max    2022.000000  8.481559e+06

##### NHL Schedule Data:

In [5]:
schedule = pd.DataFrame()

for year in range(2018, 2023):
    
    schedule_temp = sdv.nhl.nhl_loaders.load_nhl_schedule(seasons = year, return_as_pandas = True)
    
    schedule_temp = schedule_temp[['season', 'game_id', 'game_date', 'home_team_name', 'home_score', 'away_team_name', 'away_score']]
    
    schedule = pd.concat([schedule, schedule_temp]).reset_index(drop = True)
    
schedule = schedule.sort_values('game_id', ascending = True).reset_index(drop = True)

schedule.head()

100%|██████████| 1/1 [00:00<00:00,  2.31it/s]
100%|██████████| 1/1 [00:00<00:00,  6.12it/s]
100%|██████████| 1/1 [00:00<00:00,  6.18it/s]
100%|██████████| 1/1 [00:00<00:00,  5.67it/s]
100%|██████████| 1/1 [00:00<00:00,  4.21it/s]

,season,game_id,game_date,home_team_name,home_score,away_team_name,away_score
0,2018,2017020001,2017-10-04,Winnipeg Jets,2,Toronto Maple Leafs,7
1,2018,2017020002,2017-10-05,Pittsburgh Penguins,4,St. Louis Blues,5
2,2018,2017020003,2017-10-05,Edmonton Oilers,3,Calgary Flames,0
3,2018,2017020004,2017-10-05,San Jose Sharks,3,Philadelphia Flyers,5
4,2018,2017020005,2017-10-05,Boston Bruins,4,Nashville Predators,3

In [6]:
schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6278 entries, 0 to 6277
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   season          6278 non-null   int32[pyarrow]
 1   game_id         6278 non-null   int32[pyarrow]
 2   game_date       6278 non-null   date32[day][pyarrow]
 3   home_team_name  6278 non-null   large_string[pyarrow]
 4   home_score      6278 non-null   int32[pyarrow]
 5   away_team_name  6278 non-null   large_string[pyarrow]
 6   away_score      6278 non-null   int32[pyarrow]
dtypes: date32[day][pyarrow](1), int32[pyarrow](4), large_string[pyarrow](2)
memory usage: 430.1 KB